@using laui.ViewModels;
@model SearchViewModel
<div class="row">
    <div class="col-md-9">
        <h2>Transactions</h2>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Vehicle ID</th>
        <th>Timestamp</th>
        <th>Hops</th>
    </tr>
    @foreach(var transaction in Model.Transactions)
    {
        <tr @(transaction.IsCompleted == false ? "class=danger" : "")>
            <td>@transaction.TransactionId</td>
            <td>@transaction.VehicleId</td>
            <td>@transaction.Timestamp</td>
            <td>@transaction.Records.Count</td>
        </tr>
    }
</table>